@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode="isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@* @attribute [Authorize] *@
@* <AuthorizeView> *@

<MudLayout>

    @* TOP BAR *@
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick=" DrawerToggle"/>
        <MudLink Href="/" Typo="Typo.h5" Underline="Underline.None">DOCS</MudLink>
        @* <MudText Typo="Typo.h5" Class="ml-3">DOCS</MudText> *@

        <LoginSSRComp/>
        <MudToggleIconButton @bind-Toggled="@isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Default" title=@(isDarkMode ? "Ciemny" : "Jasny")
                             ToggledIcon="@Icons.Material.Filled.LightMode" ToggledColor="@Color.Warning"/>
        <MudSpacer/>
        <SectionOutlet SectionId="TopBarSectionRight"/>
        @* More *@
        @* <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/> *@
    </MudAppBar>

    @* NAV *@
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>

    @* MAIN *@
    <MudMainContent Class="mt-16 pa-4">
            @Body
    </MudMainContent>
</MudLayout>
@* </AuthorizeView> *@

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    internal static object TopBarSectionRight = new();
    bool _drawerOpen = true;
    bool isDarkMode = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}