@page "/"
@inject  NavigationManager NavigationManager
@* @inject DocsService DocsService *@
@inject DocsVMService DocsService
@* @inject GenericService<Doc> GenericService *@
@inject PersistentComponentState ApplicationState
@inject AppState AppState
@inject ISnackbar Snackbar
@inject  IDialogService DialogService
@implements IDisposable

@attribute [Authorize]


<PageTitle>Docs</PageTitle>

<SectionContent SectionId="@MainLayout.TopBarSectionRight">
    <MudButton OnClick="AddDoc" Variant="Variant.Filled"Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">Dodaj</MudButton>
</SectionContent>

<MudGrid>

    <MudItem xs="12">
        <SubjectDisplayComp OnSubjectSelected="(subject)=>OnSubjectSelected(subject)"/>
        @if (docs is null || !docs.Any())
        {
            <NoDataComp/>
        }
        else
        {
            <MudDataGrid @ref="dataGrid" Items="@docs">
                <Columns>
                    <TemplateColumn >
                        <CellTemplate >
                            @* @(docs.IndexOf(context.Item) + 1) *@
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Nazwa">
                        <CellTemplate>
                            @* <MudLink Href="@($"/doc-details/{context.Item.Id}")" Underline="Underline.Always">@context.Item.Title</MudLink> *@
                            <MudButton  Variant="Variant.Text" Color="Color.Primary" Size="Size.Small" 
                                       OnClick="@(() => Edit(context.Item))">
                            @context.Item.Title
                            </MudButton>
                        
                            </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.ShortDescription" Title="Krótki opis"/>
                    <TemplateColumn TItle="Tematy">
                        <CellTemplate>
                            @foreach (var subject in context.Item.Subjects)
                            {
                                <span>@subject.Name</span>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn CellClass="d-flex justify-end">
                        <CellTemplate>
                            <MudStack Row>
                                @*<MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" StartIcon="@Icons.Custom.Uncategorized.Radioactive"
                                           OnClick="@(() => Edit(context.Item))">
                                    Edytuj
                                </MudButton>*@
                                <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" StartIcon="@Icons.Material.Filled.DeleteForever"
                                           OnClick="@(() => Remove(context.Item.Id))">
                                    Usuń
                                </MudButton>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        }
    </MudItem>
</MudGrid>

@code
{
    PersistingComponentStateSubscription stateSubscription;

    // MudDataGrid<Doc> dataGrid;
    MudDataGrid<DocVM> dataGrid;

    // HashSet<Doc>? docs;
    HashSet<DocVM>? docs;
    // Subject? recentSubject;


    protected override async Task OnInitializedAsync()
    {
        /*AppState.OnChange += SubjectIdChanged;
        AppState.OnChange += StateHasChanged;*/

        stateSubscription = ApplicationState.RegisterOnPersisting(() =>
        {
            ApplicationState.PersistAsJson("Docs", docs);
            return Task.CompletedTask;
        });

        await GetDocs();
    }

    // async Task OnSubjectSelected(Subject subject)
    async Task OnSubjectSelected(SubjectVM subject)
    {
        // AppState.RecentSubject = subject;
        AppState.RecentSubject = subject;
        await GetDocs(subject.Id);
    }
    /*void SubjectIdChanged()
   {
    GetDocs();
   }*/

    async Task GetDocs(string? subjectId = "")
    {
        // docs = !ApplicationState.TryTakeFromJson<HashSet<Doc>?>("Docs", out var restored) 
        docs = !ApplicationState.TryTakeFromJson<HashSet<DocVM>?>("Docs", out var restored)
            ? (await DocsService.GetDocBySubject(subjectId)).data
            : restored!;

        /*        try
        {
        var sw = Stopwatch.StartNew();
            if (ApplicationState.TryTakeFromJson<HashSet<DocVM>>("Docs", out var restored))
            {
                docs = restored;
                Log.Error("REESTORED");
            }
            else
            {
                docs = (await DocsService.GetDocBySubject(subjectId)).data;
                Log.Error("DB");
            }
        }
        finally
        {
            sw.Stop();
            Log.Warning($" POMIAR DOCSÓW: {sw.ElapsedMilliseconds} ms");
        }*/
    }


    void AddDoc()
    {
        NavigationManager.NavigateTo("/add-doc");
    }

    // void Edit(Doc contextItem)
    void Edit(DocVM contextItem)
    {
        AppState.DocToEdit = contextItem;
        NavigationManager.NavigateTo($"/edit-doc/{contextItem.Id}");
    }

    async Task Remove(string contextItemId)
    {
        bool? dialogResult = await DialogService.ShowMessageBox(
            "uwaga",
            "Czy na pewno skasować dokument?",
            yesText: "Skasuj!", cancelText: "Anuluj");

        var state = dialogResult == null ? "Canceled" : "Deleted!";
        if (state.Equals("Canceled")) return;
        var result = await DocsService.DeleteDoc(contextItemId);
        var snackbar = result.success ? Snackbar.Add(result.message, Severity.Warning) : Snackbar.Add(result.message, Severity.Error);
        await GetDocs();
    }

    public void Dispose()
    {
        stateSubscription.Dispose();
        /*AppState.OnChange -= SubjectIdChanged;
        AppState.OnChange -= StateHasChanged;*/
    }

}